body {
  margin: 0px;
  justify-content: center;
  background-color: #fff96c;
  font-family: "Roboto", sans-serif;
}

#containerGeral {
  display: flex;
  flex-direction: row;
  background-color: #fff96c;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.containerLateral {
  height: 100vh;
  width: 14.5%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.containerLateral:first-child {
  left: 11%;
}

.containerLateral:last-child {
  right: 11%;
}

.containerCentral {
  height: 100vh;
  width: 45%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.textoPaginas {
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  height: fit-content;
}

#containerPaginas {
  margin-top: 16px;
  margin-left: 80px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paginasBotao {
  display: flex;
  width: 180px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

.paginasBotao:hover {
  border: 1px solid rgba(203, 124, 6, 1);
  border-radius: 32px;
}

.paginasBotao:active {
  background-color: rgba(203, 124, 6, 0.42);
  border: 1px solid rgba(203, 124, 6, 1);
  border-radius: 32px;
}

.paginasBotao i {
  margin-right: 3%;
  margin-left: 6%;
}

#selecionada {
  background-color: rgba(203, 124, 6, 0.42);
  border: 1px solid rgba(203, 124, 6, 1);
  border-radius: 32px;
}

#patinho {
  height: 9%;
  width: 24%;
  margin-top: 12%;
  margin-right: 10%;
}

#containerBusca {
  width: 80%;
  height: 5.5%;
  margin-top: 12%;
  align-self: center;
}

#busca {
  width: 90%;
  height: 100%;
  border-radius: 32px;
  border: solid 1px rgba(203, 124, 6, 1);
  background-color: rgba(203, 124, 6, 0.42);
  font-size: 22px;
  color: rgba(203, 124, 6, 1);
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

#busca::placeholder {
  color: rgba(203, 124, 6, 1);
  opacity: 1;
}

#containerNoticias {
  height: auto;
  width: 80%;
  background-color: rgba(203, 124, 6, 0.42);
  border: 1px solid rgba(203, 124, 6, 1);
  border-radius: 8px;
  margin-top: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerNoticias {
  font-size: 24px;
  color: rgba(203, 124, 6, 1);
  font-family: "Roboto", sans-serif;
  margin-top: 8%;
}

.noticia {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 20%;
  justify-content: space-between;
  margin-bottom: 15%;
}

.textoNoticia {
  font-size: 12px;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 65%;
}

.imagemNoticia {
  width: 35%;
  height: 100%;
  border-radius: 8px;
}

#titulo {
  font-size: 36px;
  color: black;
  font-family: "Roboto", sans-serif;
  margin-left: 3%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#novoPiu {
  width: 90%;
  min-height: 160px;
  height: fit-content;
  background-color: rgba(203, 124, 6, 0.42);
  border: 1px solid rgba(203, 124, 6, 1);
  border-radius: 8px;
  align-self: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  flex-shrink: 0;
  position: relative;
}

.imgETexto {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 2%;
  margin-left: 4%;
}

#contadorCaracter {
  font-family: "Roboto", sans-serif;
  margin-top: 8%;
  margin-right: 5%;
  font-size: 18px;
  color: rgba(203, 124, 6, 1);
}

.textosPosts {
  width: 68%;
  display: flex;
  flex-direction: column;
  margin-left: 0.6%;
  padding: 0;
  overflow-y: visible;
}

.textosPosts p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.textosPosts p:first-child {
  color: rgba(203, 124, 6, 1);
  margin: 1%;
}

.acoes {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 15px;
  right: 30px;
}

#formNovoPiu {
  margin-left: 1%;
  margin-top: 3%;
  width: 90%;
}

#conteudoNovoPiu {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: "Roboto", sans-serif;
  outline: none;
  color: black;
  margin-top: 1.5%;
  width: 99%;
}

#conteudoNovoPiu::placeholder {
  color: rgba(0, 0, 0, 0.56);
}

#cachorro {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgba(203, 124, 6, 1);
}

#postarBotao {
  width: 22%;
  height: 37px;
  background-color: rgba(203, 124, 6, 1);
  color: white;
  border: none;
  border-radius: 32px;
  align-self: flex-end;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-right: 5%;
  margin-bottom: 10px;
}

#postarBotao:hover {
  background-color: rgba(223, 144, 26, 1);
  cursor: pointer;
}

#postarBotao:active {
  background-color: rgba(203, 124, 6, 1);
}

.piu {
  width: 90%;
  height: fit-content;
  min-height: 160px;
  background-color: rgba(203, 124, 6, 0.42);
  border: 1px solid rgba(203, 124, 6, 1);
  border-radius: 8px;
  align-self: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  flex-shrink: 0;
  position: relative;
}

.fotoPerfil {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgba(203, 124, 6, 1);
}

.conteudoPost {
  color: black;
  width: 100%;
  height: fit-content;
  margin-top: 4%;
  margin-left: 1%;
  margin-bottom: 0;
  overflow: wrap;
  word-wrap: break-word;
}

.destacaPosts {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border: none;
}

.destacaPosts i:hover {
  cursor: pointer;
  color: white;
}

.deletaPosts {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border: none;
  margin-left: 10px;
}

.deletaPosts i:hover {
  cursor: pointer;
  color: white;
}

.interacoes {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  margin-left: 16%;
  margin-top: 3.5%;
}

.interacoes button {
  background: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
}

.interacoes button i {
  font-size: 22px;
  color: black;
}

.interacoes button i:hover {
  cursor: pointer;
}

.interacoes button p {
  font-size: 22px;
  align-self: baseline;
  margin: 0 0 0 30%;
  font-family: "Roboto", sans-serif;
}

.msgVazia {
  color: red;
  position: absolute;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  width: 40%;
  left: 35%;
  bottom: 0px;
  animation: fade-out 2s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
